site_name: LLM Tech Blog
site_description: 
site_url: https://kangnok-choi.github.io
repo_url: https://github.com/kangnok-choi/kangnok-choi.github.io
repo_name: kangnok-choi/kangnok-choi.github.io
edit_uri: edit/main/docs/
use_directory_urls: true


theme:
  name: material
  language: ko
  features:
    - navigation.tabs
    - navigation.instant
    - navigation.tracking
    - content.code.copy
    - search.suggest
    - search.highlight
  font:
    text: Noto Sans KR
    code: Fira Code

    
plugins:
  - search
  - glightbox
  - git-revision-date-localized:
      type: date
  - mermaid2

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.tabbed
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js
  - https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js
  - style/math.js
  - style/custom.js

extra_css:
  - https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css
  - style/cards.css

nav:
  - HOME: index.md
  - Inverse Problem:
      - 개요: inverse_problem/index.md
  - Posts:
      - Signal and Noise: _posts/2025-08-23-signal_and_noise/post.md


